<% include ./partials/header %>
    
    <div class="ui menu">
      <div class="header item">Movie for Moviers</div>
      <a href="/add-movie" class="item">Add movie</a>
      <a href="/moviers" class="item">Moviers</a>
    </div>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table class="ui striped table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Rating</th>
          <th>User</th>
          <th>Setting</th>
        </tr>
      </thead>
      <tbody>
        <% movies.forEach(movie => { %>
        <tr>
          <td><%= movie.title %> </td>
          <td><%= movie.description %></td>
          <td><div class="ui star rating" data-max-rating="5" data-rating="<%= movie.rating %>"></div></td>

          <td>
            <span class="user-info">posted by <a href="/">tes</a></span>
          </td>
          <td>
            <a href="/edit/<%= movie.id %>"><i class="edit icon"></i></a>
            <a href="/delete/<%= movie.id %>"><i class="erase icon"></i></a>
          </td>

        </tr>
        
        <% }) %>
      </tbody>
    </table>

<% include ./partials/footer %>