<% include ./partials/header %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table class="ui striped table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% movies.forEach(movie => { %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.description %></td>
          <td><%= movie.rating %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <a href="/add-movie">Add new movie</a>

<% include ./partials/footer %>