<% include ./partials/header %>

<div class="centers">
  <h1><%= title %></h1>
</div>

<div class="centers">
  <div class="ui card">
    <div class="content">
      <a class="header"><%= movie.title %></a>

      <div class="meta">
        <span class="date">Added in <%= helper.formatDate(movie.createdAt) %></span>
      </div>
      <div class="">
        <img class="movie-pic" src="<%= movie.image_url %>" alt="">
      </div>
      
      <div class="description">
        <%= movie.description %>
      </div>
      <br>
      <div class="ui star rating" data-rating="<%= movie.rating %>"></div>
    </div>
    <div class="extra content">
     <!--  <a>
        <i class="user icon center"></i>
        22 Friends
      </a> -->
      <!-- comment component in here -->
    </div>
    <a class="center" href="/">Back to Home</a>
  </div>

</div>

<% include ./partials/footer %>