<% include ./partials/header %>

<div class="centers">
  <h1><%= title %></h1>
</div>

<div class="centers">
  <div class="ui card">
    <div class="content">
      <a class="header"><%= movie.title %></a>

      <div class="meta">
        <span class="date">Added in <%= helper.formatDate(movie.createdAt) %></span>
      </div>
      <div class="">
        <img class="movie-pic" src="<%= movie.image_url %>" alt="">
      </div>
      
      <div class="description">
        <%= movie.description %>
      </div>
      <br>
      <div class="ui star rating" data-rating="<%= movie.rating %>"></div>
    </div>
    <div class="extra content">
     <!--  <a>
        <i class="user icon center"></i>
        22 Friends
      </a> -->
      <div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <% comments.forEach(comment => { %>
  <% if(comment.length < 0) { %>
  <% if(comment.movier_id === commentMovie[0].movier_id) { %>
  <div class="comment">
    <a class="avatar">
      <img src="<%= moviers[comment.movier_id - 1].image_url %>" draggable="true" data-bukket-ext-bukket-draggable="true">
      
    </a>
    <div class="content">
      <a class="author"><%= moviers[comment.movier_id - 1].username %></a>
      <div class="metadata">
        <span class="date">Created at <%= helper.formatDate(moviers[comment.movier_id - 1].createdAt) %></span>
      </div>
      <div class="text">
        <%= comment.content %>
      </div>
      <div class="actions">
        
      </div>
    </div>
  </div>

    <% } else { %>
      <div class="comment">
    <a class="avatar">
      <img src="" draggable="true" data-bukket-ext-bukket-draggable="true">
      
    </a>
    <div class="content">
      <a class="author">Tidak ada komen</a>
      <div class="metadata">
        <span class="date">0</span>
      </div>
      <div class="text">
        Tidak ada comment
      </div>
      <div class="actions">
        
      </div>
    </div>
  </div>
  <% }%>
  <% } %>
  <% }) %>
  <form action="/add-comment/<%= movie.id %>" method="POST" class="ui reply form">
    <div class="field">
      <input type="text" name="content">
    </div>
      <div class="comment-btn">
        <button class="ui primary button" type="submit">Add comment</button>
      </div>
  </form>
</div>
    </div>
    <a class="center" href="/">Back to Home</a>
  </div>

</div>

<% include ./partials/footer %>