<% include ./partials/header %>

<div class="centers">
  <h1><%= title %></h1>
</div>

<div class="centers">
  <div class="ui card">
    <div class="content">
      <a class="header"><%= movie.title %></a>

      <div class="meta">
        <span class="date">Added in <%= helper.formatDate(movie.createdAt) %></span>
      </div>
      <div class="">
        <img class="movie-pic" src="<%= movie.image_url %>" alt="">
      </div>
      
      <div class="description">
        <%= movie.description %>
      </div>
      <br>
      <div class="ui star rating" data-rating="<%= movie.rating %>"></div>
    </div>
    <div class="extra content">
     <!--  <a>
        <i class="user icon center"></i>
        22 Friends
      </a> -->
      <div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg" draggable="true" data-bukket-ext-bukket-draggable="true">
    </a>
    <div class="content">
      <a class="author">Matt</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/elliot.jpg" draggable="true" data-bukket-ext-bukket-draggable="true">
    </a>
    <div class="content">
      <a class="author">Elliot Fu</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        
      </div>
    </div>
    
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/joe.jpg" draggable="true" data-bukket-ext-bukket-draggable="true">
    </a>
    <div class="content">
      <a class="author">Joe Henderson</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Dude, this is awesome. Thanks so much
      </div>
      <div class="actions">
        
      </div>
    </div>
  </div>
  <form action="/add-comment" method="POST" class="ui reply form">
    <div class="field">
      <textarea name="comment"></textarea>
    </div>
      <div class="comment-btn">
        <button class="ui primary button" type="submit">Add comment</button>
      </div>
  </form>
</div>
    </div>
    <a class="center" href="/">Back to Home</a>
  </div>

</div>

<% include ./partials/footer %>